img {
    object-fit: cover;
}

p {
    margin: 0px;
    padding: 0px;
    font-weight: 200;
}

main {
    min-height: 100vh;
    background-color: rgb(244, 246, 252);
}

h1, h2, h3, h4 {
    text-transform: uppercase;
    font-size: 0.9rem;
    color: grey;
    margin: 20px 0px 10px;
    font-weight: 500;
}

.main-block {
    padding: 30px;
    background-color: white;
    box-shadow: 2px 2px 8px rgb(210, 221, 255);
}

.black-p {
    font-weight: bold;
    color: black;
}

.grey-p {
    color: gray;
}